.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
#bin
build
lib/
target
.factorypath
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.iml
*.ipr
*.iws
.idea
*.jar
!B-Nazanin.jar
.DS_Store
.factorypath
overlays/
licenseheader.txt
nb-*.xml
target/
*.log*
*.log.*
.classpath
.project
.settings
logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
Vagrantfile
dist
.tmp
*-logs/
vehicle-survey-reports/
out/